[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "vendor/rlImGui"]
	path = vendor/rlImGui
	url = git@github.com:raylib-extras/rlImGui.git
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/glad"]
	path = vendor/glad
	url = git@github.com:Cragady/glad.git
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
